﻿@{
    ViewData["Title"] = "About";
}
<div class="p-3 ms-0 mb-4 shadow" style="background-color:powderblue;border-radius:30px;">
    <h2>
        About
    </h2>
</div>

<div class="ms-4">
    <p>
        Sport Leagues is a portal for all leagues around the world. either you are interesting in the top leagues for every sport or you are interested in lower division leagues, anything information about them can be found here.
    </p>
    <p>You can track live or future games acording to the leagues they play in.</p>
    <p>You can follow your favoirte teams and keep up with their progression throughout the season.</p>
    <p>
        We are always looking to improve our site.  Please contact our <a href="mailto:sportleagueteam.com">Creative Team</a> with your ideas!
    </p>
</div>