@{
    ViewData["Title"] = "Contact Us!";
}
<div class="row">
    <div class="col-sm-8">
        <h2>Sport leagues</h2>
        <h3>Headquarters</h3>
        <address>
            9922 Front Street<br />
            Empire, MI 49630<br />
            <abbr title="Phone"><i class='far fa-address-book' style='font-size:24px'></i></abbr>
            800.555.1111
        </address>
    </div>
    <img src="~/Images/ContactUs_3.jpg" alt="Contact" class="rounded-circle col-sm-4" />
    <div class="row">
        <div class="col-sm-12 mt-5 list-group list-group-horizontal">
            <a href="mailto:us@xyzdetectives.org" class="list-group-item list-group-item-info">United States: us@xyzdetectives.org</a>
            <a href="mailto:europe@xyzdetectives.org" class=" list-group-item list-group-item-info">Europe: europe@xyzdetectives.org</a>
            <a href="mailto:africa@xyzdetectives.org" class="list-group-item list-group-item-info">Africa: africa@xyzdetectives.org</a>

        </div>
    </div>
</div>