@model List<League>
@{
    ViewData["Title"] = "Sport Leagues";
}

<div class="jumbotron">
    <h1>Sport Leagues</h1>
</div>
<div class="row">
    <div class="col-6">
        <p class="lead">Explore the different sports leagues from around the world, from lower divisions to world class sports league.</p>
    </div>
    <div class="col-6">
        <img src="~/Images/index.png"
             alt="Leagues"
             class="img-fluid" />
    </div>


</div>
